*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    padding: 0 40px;
}

.main-container{
    background-color: rgb(252, 248, 248);
    padding: 10px 40px;
}
 
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
nav h1{
    font-size: 18px;
    margin: 0 10px;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin: 0 10px;
    font-size: 14px;
}

nav button{
    border: none;
    background-color: rgb(252, 248, 248);
    font-size: 12px;
    font-weight: 500;
    margin: 0 10px;
}
.primary{
    border: none;
    background-color: rgb(125, 62, 225);
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.primary:hover{
    background-color: rgb(138, 95, 208);
}
.primary:active{
    background-color: rgb(125, 62, 225);
    transform: scale(0.9);
}

/* About */

.about{
    display: flex;
    align-items: center;
    align-content: center;
    padding: 5px;
}
.about .content{
    flex: 4;
}
.about .content .rating{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.about .content .rating img{
    width: 12px;
    margin: 0 1px;
}
.about .content p{
    color: rgb(154, 152, 152);
    font-size: 10px;
    line-height: 1.5;
    margin: 15px 0;
}
.about .content .rating p{
    margin: 0 10px;
    color: black;
}
.about .content a{
    font-size: 14px;
    margin-left: 10px;
}
.about .content .checks{
    display: flex;
}
.about .content .checks .sub-check{
    display: flex;
    margin-right: 15px;
}
.about .content .checks .sub-check img{
    width: 12px;
    margin-right: 5px;
}
.about .hero-img{
    flex: 3;
}
.about .hero-img img{
    max-width: 100%;
}