*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

p{
    line-height: 1.5;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
}

header span{
    border-bottom: 1px solid white;
}

/* Navbar */

nav{
    background-color: rgb(232, 227, 221);
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    font-weight: 600;
}

nav .links ul{
    list-style-type: none;
    display: flex;
    font-weight: 500;
}

nav .links ul li a{
    margin: 0 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

nav .links ul li a:hover{
    padding-bottom: 2px;
    border-bottom: 3px solid rgb(133, 130, 130);
}

nav .buttons button{
    border: none;
    background-color: rgb(232, 227, 221);
    margin: 0 10px;
}

nav .buttons .active{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
}

/* Home */

.home{
    padding: 0 100px 50px 100px;
    background-color: rgb(232, 227, 221);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home .left{
    width: 50%;
}

.home .left h1{
    font-size: 42px;
    margin-bottom: 10px;
}

.home .left .checkpoints{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.home .left .checkpoints p{
    margin-left: 12px;
}

.home .right img{
    width: 400px;
}

/* Logos */

.logos{
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos img{
    width: 8%;
}

/* About */

.about{
    margin: 0px 100px;
    padding: 50px 50px 0 100px;
    background-color: rgb(232, 227, 221);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .left{
    width: 50%;
}

.about .left h1{
    font-size: 42px;
    margin-bottom: 10px;
}

.about .left p{
    margin-top: 10px;
}

.about .left .link a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    border-bottom: 1px solid black;
}

.about .right img{
    width: 400px;
}

/* text-editor */

.text-editor{
    margin: 0px 100px;
    padding: 50px 50px 0 100px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-editor .left{
    width: 50%;
}

.text-editor .left img{
    width: 100%;
}

.text-editor .right{
    width: 50%;
}

.text-editor .right h1{
    font-size: 36px;
    margin-bottom: 10px;
}

.text-editor .right p{
    margin-top: 10px;
}

.text-editor .right .link a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    border-bottom: 1px solid black;
}